body {
    background-image: url("momogarch.jpg");
    background-color: black;
    background-size: cover;            /* Se adapta al tamaño */
    background-position: center;       /* Centra la imagen */
    background-repeat: no-repeat;      /* No la repite */
    height: 100vh;                     /* Altura mínima de la ventana */
    margin: 0;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-family: 'Roboto', sans-serif;
    }